# Use either MYSQL_URL or the five split connection variables below.
MYSQL_URL=mysql://username:password@hostname:3306/database

# MYSQL_HOST=hostname
# MYSQL_PORT=3306
# MYSQL_USER=username
# MYSQL_PASSWORD=password
# MYSQL_DATABASE=database
MYSQL_SSL=true
NOTES_ADMIN_TOKEN=请设置一个只属于你的长密码
